body {
    background-color: rgba(12, 156, 36, 0.712);
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #0a0707;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color: #0a0707;
    color: rgb(235, 227, 227);
    text-decoration: none;
    border-bottom: 3px solid #0a0707;
}

#menu ul li a:hover {
    background-color: #f0f0f0;
    color: #160d0d;
    border-bottom: 3px solid #EA0000;
}

.container {
    border-top: #333 solid;
    border-bottom: #333 solid;
    display: flex;
    flex: 1;
    max-width: 100%;
    padding: 30px 30px 30px 0;
    margin-top: 5%;
}

.descricao {
    margin-left: 10%;
    text-align: center;
}

.text-1 {
    text-align: center;
}

.image {
    width: 148px;
    height: 170px;
}

button {
    background-color: antiquewhite;
    margin: 0 auto;
    display: block;
    width: 100%;
    border: #e65858 solid;
    border-radius: 25%;
}


/* Logar* Registar*/

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgba(12, 156, 36, 0.712);
    padding: 40px;
    border-radius: 2px;
    width: 100%;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #239beb;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}


/*logar registrar fim*/